In [ ]:
# !pip install --quiet pandas numpy matplotlib seaborn plotly missingno nbformat jupyterlab ipywidgets
# !pip install --quiet scipy

In [2]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import missingno as msno
from scipy import stats
import plotly.graph_objects as go
from IPython.display import display, HTML

pd.set_option("display.max_columns", 2000)
pd.set_option("display.width", 180)
sns.set(style="whitegrid")
np.random.seed(7)

In [3]:
# 1) Load
df = pd.read_csv("../data/train_data.csv")

# 2) Simple clean
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
for c in ["country", "status"]:
    if c in df.columns:
        df[c] = df[c].astype(str).str.strip().str.title()

# 3) Convert numbers (bad text -> NaN)
num_cols = [c for c in df.columns if c not in ["country","status"]]
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors="coerce")

print("âœ… Dataset cleaned")
print("Shape:", df.shape)

display(df.head(300))

print("\n Top columns with missing values")
display(df.isna().sum().sort_values(ascending=False).to_frame("Missing Values"))

df.to_csv("life_expectancy_clean.csv", index=False)

# BASIC INFO
print("=== df.info() ===")
df.info()
display(df.describe(include='all').T.head(25))

âœ… Dataset cleaned
Shape: (2497, 22)

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,Hungary,2009,Developed,74.2,162.0,0,11.46,1281.155944,NaN,1,61.1,1,99.0,7.55,99.0,0.1,12967.165430,12265.0,1.8,1.8,0.816,15.3
1,Singapore,2010,Developed,82.0,61.0,0,1.84,4540.543752,96.0,50,31.8,0,96.0,3.96,96.0,0.1,46569.679510,NaN,2.1,2.1,0.889,14.5
2,New Zealand,2008,Developed,81.0,75.0,0,9.49,6761.288966,9.0,0,63.8,0,89.0,1.70,89.0,0.1,31287.778650,NaN,0.3,0.3,0.894,19.5
3,Honduras,2000,Developing,71.0,174.0,6,2.61,28.808311,93.0,0,38.8,8,88.0,6.63,94.0,1.7,188.783165,6524283.0,2.8,2.7,0.551,9.8
4,Egypt,2002,Developing,68.7,177.0,61,0.15,0.000000,97.0,653,51.8,75,97.0,5.97,97.0,0.1,NaN,NaN,3.4,3.4,0.617,11.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Gambia,2003,Developing,57.0,297.0,3,2.47,0.000000,94.0,119,19.7,6,87.0,4.22,87.0,2.7,NaN,NaN,9.6,9.6,0.395,7.3
296,Uzbekistan,2004,Developing,67.8,183.0,24,1.59,34.418872,99.0,75,37.0,29,99.0,5.11,99.0,0.3,465.119887,2586435.0,3.2,3.2,0.613,11.6
297,Japan,2010,Developed,83.0,62.0,3,6.90,863.006149,NaN,450,26.9,4,98.0,9.58,97.0,0.1,4457.676390,1287.0,1.9,1.6,0.879,15.1
298,Cameroon,2008,Developing,54.2,382.0,56,5.90,68.707304,84.0,495,24.9,87,82.0,5.18,84.0,6.7,1233.524316,18978.0,6.4,6.5,0.466,8.8
299,Mauritius,2009,Developing,72.8,166.0,0,2.83,624.236183,99.0,15,3.2,0,99.0,4.97,99.0,0.1,7318.126410,1247429.0,7.3,7.3,0.734,13.8

 Top columns with missing values

                                 Missing Values
population                                  540
hepatitis_b                                 481
gdp                                         365
total_expenditure                           191
alcohol                                     164
income_composition_of_resources             141
schooling                                   137
thinness__1-19_years                         31
thinness_5-9_years                           31
bmi                                          31
diphtheria                                   16
polio                                        16
life_expectancy                               9
adult_mortality                               9
infant_deaths                                 0
status                                        0
country                                       0
year                                          0
under-five_deaths                             0
measles                                       0
percentage_expenditure                        0
hiv/aids                                      0

=== df.info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2497 entries, 0 to 2496
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2497 non-null   object
 1   year                             2497 non-null   int64
 2   status                           2497 non-null   object
 3   life_expectancy                  2488 non-null   float64
 4   adult_mortality                  2488 non-null   float64
 5   infant_deaths                    2497 non-null   int64
 6   alcohol                          2333 non-null   float64
 7   percentage_expenditure           2497 non-null   float64
 8   hepatitis_b                      2016 non-null   float64
 9   measles                          2497 non-null   int64
 10  bmi                              2466 non-null   float64
 11  under-five_deaths                2497 non-null   int64
 12  polio                            2481 non-null   float64
 13  total_expenditure                2306 non-null   float64
 14  diphtheria                       2481 non-null   float64
 15  hiv/aids                         2497 non-null   float64
 16  gdp                              2132 non-null   float64
 17  population                       1957 non-null   float64
 18  thinness__1-19_years             2466 non-null   float64
 19  thinness_5-9_years               2466 non-null   float64
 20  income_composition_of_resources  2356 non-null   float64
 21  schooling                        2360 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 429.3+ KB

                                  count unique         top  freq             mean              std       min         25%          50%          75%           max
country                            2497    192     Hungary    16              NaN              NaN       NaN         NaN          NaN          NaN           NaN
year                             2497.0    NaN         NaN   NaN      2007.479375         4.616338    2000.0      2003.0       2007.0       2011.0        2015.0
status                             2497      2  Developing  2060              NaN              NaN       NaN         NaN          NaN          NaN           NaN
life_expectancy                  2488.0    NaN         NaN   NaN         69.14377         9.517112      36.3        63.2         72.0       75.525          89.0
adult_mortality                  2488.0    NaN         NaN   NaN       164.647508        124.08001       1.0        74.0        144.0        227.0         723.0
infant_deaths                    2497.0    NaN         NaN   NaN        28.987185       107.624711       0.0         0.0          3.0         22.0        1800.0
alcohol                          2333.0    NaN         NaN   NaN         4.577008         4.056307      0.01        0.85         3.67         7.68         17.87
percentage_expenditure           2497.0    NaN         NaN   NaN        731.54887      1987.075471       0.0    5.347718    64.398533   437.105966   19479.91161
hepatitis_b                      2016.0    NaN         NaN   NaN        81.008433        25.107816       1.0        77.0         92.0         96.0          99.0
measles                          2497.0    NaN         NaN   NaN      2431.130156     11740.711517       0.0         0.0         17.0        383.0      212183.0
bmi                              2466.0    NaN         NaN   NaN        38.092863        20.098019       1.4        19.1         43.0         56.1          87.3
under-five_deaths                2497.0    NaN         NaN   NaN         40.25871       147.252113       0.0         0.0          4.0         28.0        2500.0
polio                            2481.0    NaN         NaN   NaN        82.419589        23.703581       3.0        78.0         93.0         97.0          99.0
total_expenditure                2306.0    NaN         NaN   NaN         5.936544         2.493682      0.37      4.2525         5.75         7.53          17.6
diphtheria                       2481.0    NaN         NaN   NaN        82.240226        23.914151       2.0        78.0         93.0         97.0          99.0
hiv/aids                         2497.0    NaN         NaN   NaN         1.699199         4.898429       0.1         0.1          0.1          0.8          50.6
gdp                              2132.0    NaN         NaN   NaN      7348.579392     14143.733665  3.685949  458.064238  1683.750332  5858.119655   119172.7418
population                       1957.0    NaN         NaN   NaN  13131893.881083  65074718.948581      34.0    182286.0    1354493.0    7472819.0  1293859294.0
thinness__1-19_years             2466.0    NaN         NaN   NaN         4.818613         4.375821       0.1         1.6          3.3          7.2          27.7
thinness_5-9_years               2466.0    NaN         NaN   NaN         4.863058         4.484728       0.1       1.525          3.3          7.2          28.6
income_composition_of_resources  2356.0    NaN         NaN   NaN         0.625069         0.213123       0.0     0.48975       0.6765         0.78         0.948
schooling                        2360.0    NaN         NaN   NaN        11.959534         3.380734       0.0        10.1         12.3         14.2          20.7